:root {
    --red: red;
    --light-red: #f9edeb
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #f7f7f7;
}



header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bolder;
    font-size: 4rem;
    color: #333;
}

.logo span {
    color: red;
}

.navbar{
    height: 50px;
    margin-top: 30px;
}

header .navbar a {
    color: #333;
    font-size: 2.5rem;
    padding: 0 1.5rem;
}

header .navbar a:hover {
    color: red;
}

.heading {
    /* display: flex; */
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 700px;
    width: 100%;
    background: url(./img/eventt.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* margin-left: 90px; */
    /* padding-left: 60px; */
}

.heading h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
     /* padding-top: 1%; */
    margin-left: 37%; 
    font-size: 60px;
    margin-top: 10px;
}
.heading .p{
    color: #fff;
    font-size: 63px;
    /* width: 400px; */
    margin-left:37%;
    padding-top: 15%;
}
.heading .p1 {
    color: #fff;
    font-size: 40px;
    /* width: 100px; */
    margin-left:37.2%;
    padding-top: 1px;
    /* color: #fff; */
    /* font-size: 40px; */
    /* font-size: 63px; */
    /* width: 400px; */
    /* margin-left:36%; */
    /* padding-top: 2px; */
    /* padding-top: 15%; */
}

sub{
    font-size: 20px;
}

.heading .line #p{
    margin-left: 42%;
}


.heading h1 span {
    font-size: 15px;
    color: #bebcbc;
}

.heading img {
    margin-left: 100px;
    height: 500px;
    padding-top: 50px;
    border: none;
    width: 800px;
}

#heading {
    font-weight: bolder;
    margin-top: 70px;
    text-align: center;
    font-size: 50px;
    color: red;
}

#heading span {
    color: black;
}

.events {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 50px;
    margin-left: 7%;
}

.events .box-container .box {
    background: #fff;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem;
    position: relative;
    width: 50rem;
    height: 550px;
    margin-top: 70px;
}

.events .box-container .box .img-conatainer img {
    height: 50%;
    width: 100%;
}

#name {
    font-size: 30px;
    margin-top: 20px;
}

#date {
    font-size: 20px;
    margin-top: 10px;
}

#date span {
    font-size: 15px;
}

.location {
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 30px;
}

.location img {
    height: 15px;
    width: 20px;
}

.events .box-container .box .button button {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    background-color: rgb(255, 183, 183);
    color: red;
    font-size: 15px;
    padding-top: 3px;
    border-radius: 5px;
    margin-right: 35px;
    margin-top: 20px;
}

.price .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    margin-top: 70px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 30px;
}

.price .box-container .box {
    padding: 2rem 0;
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.price .box-container .box:hover {
    transform: scale(1.03);
}

.price .box-container .box .title {
    background: rgb(252, 139, 139);
    color: black;
    padding: 1.5rem 0;
    font-size: 2rem;
}

.price .box-container .box .amount {
    color: black;
    padding-top: 2rem;
    font-size: 4rem;
}

.price .box-container .box ul {
    list-style-type: none;
    padding: 1rem 0;
}

.price .box-container .box ul li {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
}

.price .box-container .box ul li i {
    color: red;
    padding-right: 0.5rem;
}

.heading1 {
    font-weight: bolder;
    margin-top: 70px;
    text-align: center;
    font-size: 50px;
    color: red;
}

.heading1 span {
    color: black;
}

/* rgister-form */


.Registration-form{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.Registration-form span{
    text-transform: uppercase;
    color: red;
}

.Registration-form h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: black;
}

.Registration-form .name{
    font-size: 20px;
    margin: 10px 0;
    color: black;
    margin-left: 10px;
}

.Registration-form #name{
    font-size: 16px;
    margin-top: 2px;
    margin-top: 10px;
}

#email{
    margin-top: 10px;
}

#password{
    margin-top: 10px;
}

.Registration-form .email{
    font-size: 20px;
    margin: 10px 0;
    color: black;
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.Registration-form .password{
    font-size: 20px;
    margin: 10px 0;
    color: black;
    margin-left: 10px;
}

.Registration-form input{
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
    width: 400px;
}

.Registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 8px 15px;
    width: 50%;
    border-radius: 5px;
    margin-left: 25%;
    background-color: rgb(255, 183, 183);
}

.Registration-form button:hover{
    color: red;
    cursor: pointer;
}

.footer {
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin-top: 90px;
    margin-bottom: 30px;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3px;
    margin-left: 15%;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: black;
  }
  
  .footer .box-container .box a i {
    padding-right: 0.5rem;
    color:black;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 1.5rem;
    color: #fff;
  }
  
  .footer .credit {
    text-align: center;
    border-top: 0.1rem solid #222;
    color: black;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
  }
  
  .footer .credit span {
    color: red;
  }